<div *ngIf="loading" class="loading">
    Please wait loading;
</div>
<div *ngIf="!loading" class="movies-container">
	<div class="header">
		<h1>Movies</h1>
	</div>
	<div class="data">
		<table mat-table [dataSource]="movies" class="mat-elevation-z8">
			<!-- Movie ID Column -->
			<ng-container matColumnDef="movieId">
				<th mat-header-cell *matHeaderCellDef>Movie ID</th>
				<td mat-cell *matCellDef="let movie">{{ movie.movieId }}</td>
			</ng-container>
	
			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let movie">{{ movie.name }}</td>
			</ng-container>
	
			<!-- View Column -->
			<ng-container matColumnDef="view">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let movie"><a [routerLink]="['/movie', movie.movieId]"><fa-icon [icon]="faEye"></fa-icon></a></td>
			</ng-container>
	
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
</div>