.movies-container {
	.data {
		.mat-mdc-header-row {
			background-color: #262626;
		}

		.mat-mdc-row {

			&:nth-of-type(even) {
				background-color: #4d4d4d;
				/* White for even rows */
			}

			&:hover {
				background-color: #9c27b0;
				/* Lighter gray for mouseover */
			}
		}

		fa-icon {
			color: white;
		}
	}
}